<li class='c-share__item'>
  <button class='c-share__link' 
          data-webshare 
          data-share-title="{{ title }}" 
          data-share-text="{{ excerpt }}" 
          data-share-url="{{ url absolute='true' }}"
          aria-label="{{t 'Share this page' }}">
    <span data-icon='ei-share-apple' data-size='s' class='c-share__icon'></span>
    <span class='u-screenreader'>{{t 'Share this page' }}</span>
  </button>
</li>
